.gesturearea {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
    touch-action: none !important;
    user-select: none !important;
}
