<div @attributes=@(Attributes)
     @onpointerdown=@(e=>GestureRecognizer?.PointerDown(e))
     @onpointerdown:preventDefault=@(PreventDefault)
     @onpointerdown:stopPropagation=@(StopPropagation)
     @onpointermove=@(e=>GestureRecognizer?.PointerMove(e))
     @onpointermove:preventDefault=@(PreventDefault)
     @onpointermove:stopPropagation=@(StopPropagation)
     @onpointerup=@(e=>GestureRecognizer?.PointerUp(e))
     @onpointerup:preventDefault=@(PreventDefault)
     @onpointerup:stopPropagation=@(StopPropagation)
     @onpointerleave=@(e=>GestureRecognizer?.PointerLeave(e))
     @onpointerleave:preventDefault=@(PreventDefault)
     @onpointerleave:stopPropagation=@(StopPropagation)>
    @(ChildContent)
</div>
<GestureRecognizer @ref=@(GestureRecognizer)
    EdgeDistance=@(EdgeDistance)
    Enable=@(Enable)>
    @(Recognizers)
</GestureRecognizer>

@code {
    [Parameter] public int EdgeDistance { get; set; } = 75;
    [Parameter] public bool Enable { get; set; } = true;
    [Parameter] public bool PreventDefault { get; set; } = true;
    [Parameter] public bool StopPropagation { get; set; } = true;
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public RenderFragment Recognizers { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object?> Attributes { get; set; } = default!;

    public GestureRecognizer? GestureRecognizer { get; private set; }
}
