<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <base href="/" />
    <style>
        body {
            margin: 0;
            touch-action: none !important;
        }

        .gesturearea {
            -webkit-touch-callout: none !important;
            -webkit-user-select: none !important;
            -webkit-user-drag: none !important;
            touch-action: none !important;
            user-select: none !important;
            width: 60vw;
            height: 60vh;
            margin: 20vh 20vw;
            background: #ccffcc;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 13px;
        }
    </style>
</head>
<body>
    <Routes @rendermode=(RenderMode.InteractiveAuto) />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
